page-login {
  .fb-login{
    width: 200px;
    margin: 10px auto 0;
    height: 40px;
    background: url(../images/login-fb.png) no-repeat center;
    background-size: auto 100%;
    font-size: 0px;
  }
  .text-login-fb{
    text-align: center;
  }
}
