page-chat {
  .messageSection{
    clear: both;
  }
  #mes{
    width: 75%;
    height: 58px;
    border: 1px solid #149dbb;
    border-radius: 3px;
    float:right;
  }
  #send-button{
    background: #b5122d;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    padding: 0 5px;
    margin: 0 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 22%;
    float: left;
    margin: 10px 0px;
  }

  .chatbox.even {
    background: rgba(74,166,195,.9);
    float: left;
  }
  .chatbox {
    border: 1px solid #dbdbdc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 7px;
    padding: 10px 10px 10px 10px;
    width: 82%;
    background: #fff;
    float: right;
  }
  .hodat2-midsec .chatbox p {
    float: right;
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 5px;
  }
  .status_cont {
    float: left;
  }
  #dialog .dateTime {
    float: left;
    margin: 0px 0px 15px;
    font-size: 11px;
  }
  #dialog .dateTime.odd {
    margin-left: 18%;
  }
  .image-user{
    float: right;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
