page-profile {
  .reportAbuse {
    width: 135px;
    max-width: 100%;
    margin: 0px auto;
    border: 2px #fff solid;
    border-radius: 10px;
    background-color: #b5122d;
    color: #fff;
    text-shadow: 0 1px 0 #111;
    padding: 0.3em 0.2em;
    font-size: 17px;
    line-height: 1;
    text-align: center;
  }
}
